config CONSOLE_EPD
	bool "Console on (EINK) display"
	select CONSOLE_HAS_DRIVER

config UART_EPD
	bool "UART out on (EINK) display"
	default y if SERIAL
	select SERIAL_HAS_DRIVER
	depends on DT_HAS_NVL_EPD_UART_ENABLED
	depends on !CONSOLE_EPD

config UC8251D
	bool "UC8251D display driver"
	default y if DISPLAY
	select DISPLAY_HAS_DRIVER
	select SPI
	depends on DT_HAS_NVL_EPD_SPI_ENABLED

source "Kconfig.zephyr"
