/dts-v1/;
#include <nordic/nrf52840_qiaa.dtsi>
#include <dt-bindings/input/input-event-codes.h>

/ {
	model = "Electronic Self-Label (epaper badge)";
	compatible = "nordic,esl";

	zephyr,user {
		io-channels = <&adc 7>;
	};

	chosen {
		zephyr,console = &cdc_acm_uart0;
		/* zephyr,console = &fakeuart; */
		zephyr,shell-uart = &fakeuart;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,code-partition = &slot0_partition;
		zephyr,display = &se0213q04;
	};

	leds {
		compatible = "gpio-leds";
		status = "okay";
		led0: led_0 {
			gpios = <&gpio0 26 GPIO_ACTIVE_LOW>;
			label = "Red LED";
		};
		led1: led_1 {
			gpios = <&gpio0 30 GPIO_ACTIVE_LOW>;
			label = "Green LED";
		};
		led2: led_2 {
			gpios = <&gpio0 6 GPIO_ACTIVE_LOW>;
			label = "Blue LED";
		};
	};

	fakeuart: fake {
		compatible = "nvl,epd-uart";
		status = "okay";
	};

	vbatt {
		compatible = "voltage-divider";
		io-channels = <&adc 0>;
		output-ohms = <40000>;
		full-ohms = <(27000 + 40000)>;
		power-gpios = <&gpio0 14 GPIO_ACTIVE_LOW>;
	};

	aliases {
		led0 = &led0;
		led1 = &led1;
		led2 = &led2;
		bootloader-led0 = &led0;
		mcuboot-led0 = &led0;
		watchdog0 = &wdt0;
	};
};

&adc {
	status = "okay";

	#address-cells = <1>;
	#size-cells = <0>;

	channel@0 {
		reg = <0>;
		zephyr,gain = "ADC_GAIN_1_6";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,input-positive = <NRF_SAADC_AIN7>;
		zephyr,resolution = <12>;
	};
};

&gpio0 {
	status = "okay";
};

&gpio1 {
	status = "okay";
};

&uart0 {
	/* Disable UART, it isn't connected */
	status = "disabled";
};

&pinctrl {
	spi0_default: spi0_default {
		group1 {
			psels = <NRF_PSEL(SPIM_SCK, 1, 13)>,
				<NRF_PSEL(SPIM_MOSI, 1, 15)>,
				<NRF_PSEL(SPIM_MISO, 1, 14)>;
		};
	};

	spi0_sleep: spi0_sleep {
		group1 {
			psels = <NRF_PSEL(SPIM_SCK, 1, 13)>,
				<NRF_PSEL(SPIM_MOSI, 1, 15)>,
				<NRF_PSEL(SPIM_MISO, 1, 14)>;
			low-power-enable;
		};
	};
};

&spi0 {
	status = "okay";
	/* SPIM broken in upstream. tested ~3mo ago and it works */
	compatible = "nordic,nrf-spi";

	pinctrl-0 = <&spi0_default>;
	pinctrl-1 = <&spi0_sleep>;
	pinctrl-names = "default", "sleep";

	cs-gpios = <&gpio0 29 GPIO_ACTIVE_LOW>;

	se0213q04: epd@0 {
		reg = <0>;
		spi-max-frequency = <8000000>;
		compatible = "nvl,epd-spi";
		width = <250>;
		height = <128>;
        // FIXME: those are hardcoded in utils.h rn
		dc-gpios = <&gpio0 28 GPIO_ACTIVE_LOW>;
		reset-gpios = <&gpio0 3 GPIO_ACTIVE_LOW>;
		busy-gpios = <&gpio0 2 GPIO_ACTIVE_HIGH>;
	};
};

zephyr_udc0: &usbd {
	compatible = "nordic,nrf-usbd";
	status = "okay";

	cdc_acm_uart0: cdc_acm_uart0 {
		compatible = "zephyr,cdc-acm-uart";
	};
};

&flash0 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		boot_partition: partition@0 {
			label = "mcuboot";
			reg = <0x00000000 0xC000>;
		};
		slot0_partition: partition@C000 {
			label = "image-0";
			reg = <0x0000C000 0x17000>;
		};
		slot1_partition: partition@23000 {
			label = "image-1";
			reg = <0x00023000 0x17000>;
		};
		storage_partition: partition@3a000 {
			label = "storage";
			reg = <0x0003a000 0x00006000>;
		};
	};
};
